n8n-workflows/Zvoove Demo 3 - Extract Keywords.json
{
  "name": "Zvoove Demo 3 - Extract Keywords",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCgjGR9rFvho1pa",
          "mode": "list",
          "cachedResultName": "Zvoove Content System",
          "cachedResultUrl": "https://airtable.com/appCgjGR9rFvho1pa"
        },
        "table": {
          "__rl": true,
          "value": "tbl2dvPncJgjv3JhL",
          "mode": "list",
          "cachedResultName": "Blogposts",
          "cachedResultUrl": "https://airtable.com/appCgjGR9rFvho1pa/tbl2dvPncJgjv3JhL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -368,
        -544
      ],
      "id": "8f878bd4-c0be-4c0c-b096-48e5b31fbc1d",
      "name": "Get all blogposts",
      "credentials": {
        "airtableTokenApi": {
          "id": "HWzPpcqFj7r39bDf",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        -512
      ],
      "id": "9553d970-0175-4da3-b431-eaaf4ab9714b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yzvvefAgeO4alfAj",
          "name": "Personal Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83b0206f-65b1-42dd-aba2-0145d6b10ab9",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "b4472196-8d61-448c-b3dd-d2b4740e02d1",
              "name": "id",
              "value": "={{ $('Filter for missing KWs').item.json.id }}",
              "type": "string"
            },
            {
              "id": "8efd9969-b18b-4b88-81dd-b667b36932ea",
              "name": "fields['Blog URL']",
              "value": "={{ $('Filter for missing KWs').item.json.fields['Blog URL'] }}",
              "type": "string"
            },
            {
              "id": "9d9388dd-33f9-48c6-a136-5b260a7edfe0",
              "name": "fields.Headline",
              "value": "={{ $('Filter for missing KWs').item.json.fields.Headline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -672
      ],
      "id": "9ea68eaa-cc68-4c99-a536-ad90eb6eec13",
      "name": "Combine output data"
    },
    {
      "parameters": {
        "jsCode": "// Input: Array von Extraction-Outputs\nconst items = $input.all();\nconst allKeywords = [];\n\n// Loop über alle Items\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const output = item.json.output; // Extraction Result\n  \n  // Blog Post Metadaten\n  const blogPostId = item.json.id || item.json.fields?.id;\n  const blogPostTitle = item.json.fields?.Headline;\n  const blogPostUrl = item.json.fields?.['Blog URL'];\n  \n  // Primary Keywords\n  if (output.primary_keywords) {\n    for (let keyword of output.primary_keywords) {\n      allKeywords.push({\n        keyword: keyword.toLowerCase(), // ← LOWERCASE\n        category: 'Primary Keyword',\n        search_intent: output.search_intent,\n        source_blog_post_id: blogPostId,\n        source_blog_post_title: blogPostTitle,\n        source_blog_post_url: blogPostUrl\n      });\n    }\n  }\n  \n  // Secondary Keywords\n  if (output.secondary_keywords) {\n    for (let keyword of output.secondary_keywords) {\n      allKeywords.push({\n        keyword: keyword.toLowerCase(), // ← LOWERCASE\n        category: 'Secondary Keyword',\n        search_intent: output.search_intent,\n        source_blog_post_id: blogPostId,\n        source_blog_post_title: blogPostTitle,\n        source_blog_post_url: blogPostUrl\n      });\n    }\n  }\n  \n  // Long-tail Keywords\n  if (output.long_tail_keywords) {\n    for (let keyword of output.long_tail_keywords) {\n      allKeywords.push({\n        keyword: keyword.toLowerCase(), // ← LOWERCASE\n        category: 'Long-tail Keyword',\n        search_intent: output.search_intent,\n        source_blog_post_id: blogPostId,\n        source_blog_post_title: blogPostTitle,\n        source_blog_post_url: blogPostUrl\n      });\n    }\n  }\n}\n\nreturn allKeywords.map(kw => ({ json: kw }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -672
      ],
      "id": "c6f87063-7458-47db-8a72-903fb582bd50",
      "name": "Transform keyword data"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCgjGR9rFvho1pa",
          "mode": "list",
          "cachedResultName": "Zvoove Content System",
          "cachedResultUrl": "https://airtable.com/appCgjGR9rFvho1pa"
        },
        "table": {
          "__rl": true,
          "value": "tblypfYJctBQT5CpU",
          "mode": "list",
          "cachedResultName": "Keywords",
          "cachedResultUrl": "https://airtable.com/appCgjGR9rFvho1pa/tblypfYJctBQT5CpU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1552,
        -672
      ],
      "id": "abcd6481-ef7d-4f4f-943a-32d1c9d832f9",
      "name": "Get all existing keywords",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "HWzPpcqFj7r39bDf",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Neue Keywords aus \"Remove duplicates\" Node\nconst newKeywords = $('Remove duplicates in batch').all();\n\n// Bestehende Keywords aus \"Get all existing keywords\" Node\nconst existingKeywords = $('Get all existing keywords').all();\n\n// Erstelle Set mit allen bereits existierenden Keyword-Namen (lowercase)\nconst existingKeywordNames = new Set(\n  existingKeywords.map(item => {\n    // Airtable speichert Daten in fields\n    const keyword = item.json.fields?.Name || \n                   item.json.fields?.Keyword || \n                   item.json.Name || \n                   item.json.Keyword;\n    return keyword ? keyword.toLowerCase().trim() : null;\n  }).filter(Boolean)\n);\n\n// Filtere nur wirklich neue Keywords\nconst uniqueNewKeywords = newKeywords.filter(item => {\n  const keywordName = item.json.keyword?.toLowerCase().trim();\n  \n  // Behalte nur, wenn NICHT in existing vorhanden\n  return keywordName && !existingKeywordNames.has(keywordName);\n});\n\nreturn uniqueNewKeywords;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -672
      ],
      "id": "8425f11a-94fc-4ed6-8a0d-ccdad744adfb",
      "name": "Check if keywords already in database"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -544
      ],
      "id": "8827564b-6cdc-45d7-b997-039f0df04f76",
      "name": "Split into batches of 10"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -592,
        -544
      ],
      "id": "48af5121-ab02-4495-9d7f-dedb10600f79",
      "name": "When executed by \"Main\" workflow"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "fields.Date Published",
              "order": "descending"
            },
            {
              "fieldName": "fields.Date Modified",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -144,
        -544
      ],
      "id": "951ea692-702f-4662-b87f-8bdd70161ed7",
      "name": "Sort by date published"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f0f201d-0fb8-4031-81d1-fa58a30ef001",
              "leftValue": "={{ $json.fields.Keywords }}",
              "rightValue": true,
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        80,
        -544
      ],
      "id": "6bcf5207-fe51-4e73-a5ae-5a201339c2e9",
      "name": "Filter for missing KWs"
    },
    {
      "parameters": {
        "text": "=Titel: {{ $json.fields.Headline }}\nContent: {{ $json.fields['Blog Content'] }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"primary_keywords\": [\n    \"Zeiterfassung Zeitarbeit\",\n    \"digitale Arbeitszeiterfassung\"\n  ],\n  \"secondary_keywords\": [\n    \"mobile Zeiterfassung\",\n    \"Arbeitszeitgesetz\",\n    \"Stundenzettel digital\"\n  ],\n  \"search_intent\": \"informational\",\n  \"target_audience\": \"HR-Manager in Zeitarbeitsunternehmen\",\n  \"content_category\": \"Zeitarbeit-Software\"\n}",
        "options": {
          "systemPromptTemplate": "Du bist ein SEO-Experte spezialisiert auf die DACH-Region und B2B SaaS für Zeitarbeit, Gebäudereinigung und Sicherheitsdienstleister.\n\nAUFGABE: Extrahiere aus dem folgenden Blogpost die wichtigsten SEO-Keywords.\n\nKONTEXT: \n- Zielmarkt: Deutschland, Österreich, Schweiz\n- Zielgruppe: HR-Manager, Geschäftsführer von KMUs in Zeitarbeit/Facility Services\n- Fokus auf transaktionale und informational Keywords\n\nREGELN:\n1. Primary Keywords: 1-2 hochvolumige Hauptkeywords (Shorthead, 1-3 Wörter)\n2. Secondary Keywords: 1-3 verwandte Keywords mit mittlerem Suchvolumen\n3. Search Intent: Klassifiziere als \"informational\", \"transactional\", \"navigational\" oder \"commercial\"\n4. Ignoriere Firmennamen, generische Begriffe wie \"Blog\" oder \"Artikel\"\n5. Nutze deutsche Begriffe, außer bei etablierten englischen Fachbegriffen (z.B. \"Cloud\", \"SaaS\")\n\nQUALITÄTSKRITERIEN:\n- Keywords müssen tatsächlich im Text vorkommen oder eng verwandt sein\n- Priorisiere kaufrelevante Keywords\n- Achte auf Variationen (Singular/Plural, Komposita)\n- Wähle nur die absolut wichtigsten Keywords aus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        528,
        -672
      ],
      "id": "cb1ea4b7-ac08-4f4a-aee9-e355b180a7c9",
      "name": "Extract SEO keywords",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "keyword",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1328,
        -672
      ],
      "id": "82064386-66f5-49eb-bc5e-b295e982b1f9",
      "name": "Remove duplicates in batch"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appCgjGR9rFvho1pa",
          "mode": "list",
          "cachedResultName": "Zvoove Content System",
          "cachedResultUrl": "https://airtable.com/appCgjGR9rFvho1pa"
        },
        "table": {
          "__rl": true,
          "value": "tblypfYJctBQT5CpU",
          "mode": "list",
          "cachedResultName": "Keywords",
          "cachedResultUrl": "https://airtable.com/appCgjGR9rFvho1pa/tblypfYJctBQT5CpU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.keyword }}",
            "Keyword": "={{ $json.keyword }}",
            "Keyword Category": "={{ $json.category }}",
            "Search Intent": "={{ $json.search_intent }}",
            "Blogposts": "={{ [$json.source_blog_post_id] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Keyword Category",
              "displayName": "Keyword Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Primary Keyword",
                  "value": "Primary Keyword"
                },
                {
                  "name": "Secondary Keyword",
                  "value": "Secondary Keyword"
                },
                {
                  "name": "Long-tail Keyword",
                  "value": "Long-tail Keyword"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Search Intent",
              "displayName": "Search Intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "informational",
                  "value": "informational"
                },
                {
                  "name": "transactional",
                  "value": "transactional"
                },
                {
                  "name": "navigational",
                  "value": "navigational"
                },
                {
                  "name": "commercial",
                  "value": "commercial"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Search Volume",
              "displayName": "Search Volume",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Blogposts",
              "displayName": "Blogposts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Blog URL (from Blogposts)",
              "displayName": "Blog URL (from Blogposts)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        2000,
        -672
      ],
      "id": "505b4492-7acd-4ee2-9ebd-2798421fc387",
      "name": "Add new keywords",
      "credentials": {
        "airtableTokenApi": {
          "id": "HWzPpcqFj7r39bDf",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2224,
        -544
      ],
      "id": "628dad4d-31a0-4bef-919d-8651b002ccd9",
      "name": "Wait 1 minute",
      "webhookId": "1fbb43e0-ea9a-4153-9d9d-d2d1b0d8a717"
    }
  ],
  "pinData": {},
  "connections": {
    "Get all blogposts": {
      "main": [
        [
          {
            "node": "Sort by date published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract SEO keywords",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Combine output data": {
      "main": [
        [
          {
            "node": "Transform keyword data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform keyword data": {
      "main": [
        [
          {
            "node": "Remove duplicates in batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all existing keywords": {
      "main": [
        [
          {
            "node": "Check if keywords already in database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if keywords already in database": {
      "main": [
        [
          {
            "node": "Add new keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into batches of 10": {
      "main": [
        [],
        [
          {
            "node": "Extract SEO keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When executed by \"Main\" workflow": {
      "main": [
        [
          {
            "node": "Get all blogposts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by date published": {
      "main": [
        [
          {
            "node": "Filter for missing KWs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for missing KWs": {
      "main": [
        [
          {
            "node": "Split into batches of 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SEO keywords": {
      "main": [
        [
          {
            "node": "Combine output data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove duplicates in batch": {
      "main": [
        [
          {
            "node": "Get all existing keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add new keywords": {
      "main": [
        [
          {
            "node": "Wait 1 minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 minute": {
      "main": [
        [
          {
            "node": "Split into batches of 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "43666188-439c-4c97-9e6d-4c2c47c06748",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "becc27736ffda7668b0b6ed7b310cfe94180ed0420664b77b77cb848c4be100c"
  },
  "id": "chEdwZQdtAG3WhzR",
  "tags": []
}